#main{
    position:relative;
    width:100vw;
    height:100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../media/cntct.jpg);
    text-align:center;
    overflow: hidden;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

#question{
    position:relative;
    top:35vh;
    color:white;
    font-family: 'Lora', serif;
}