#main{
    position:relative;
    width:100vw;
    height:100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../media/intro4.jpg);
    text-align:center;
    overflow: hidden;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

#csbyall{
    position:relative;
    top:30vh;
    color:white;
}

#what{
    height:50vh;
    width:100vw;
}